/* Color variables to play with */
:root {
    /* Transparent Grey */
    --panel: rgba(155, 155, 155, 0.3);
    /* Backround Color */
    --field: #111;
    /* Player color */
    --player: #f0f;
    /* Transparent Player */
    --tran: rgba(255, 0, 255, .5);
    /* Text Color */
    --text: #fff;
    /* Bullet Color */
    --bullet: #ff0;
    /* Orange Powerup */
    --orange: rgba(255, 165, 0, .8);
    /* Cyan Powerup */
    --cyan: rgba(0, 255, 255, .8);
    /* Green Powerup */
    --green: rgba(0, 255, 0, .8);
    /* Purple Enemy */
    --purple: rgba(153, 102, 255, .8);
    /* Hitbox Red */
    --red: rgba(255, 0, 0, .5);
}

/* CSS reset */
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--field);
    background: url("../background/autumn-forest-tile.jpg") 0px 0px;
    position: absolute;
    overflow: hidden;
}

#player {
    background: url('../momiji/sprites.png') 0px 0px;
    width:110px;
    height:150px;
    position:absolute;
} 

#top-right {
    position: fixed; 
    top: 10px;
    right: 10px;
    display: inline;
    color: #fff;
}

#audio-pause{
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
}

#pauseOverlay {
    color: var(--text);
    position: absolute;
    top: 50px;
    left: 300px;
}

.top {
    position: absolute;
    top: 10px;
    left: 25px;
    display: inline-block;
}

#debug {
    width: 180px;
    height: 250px;
    background-color: var(--panel);
}

#keys {
    position: absolute;
    top: 68px;
    left: 25px;
}

#keys h3 {
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
    color: var(--text);
    border: 1px solid var(--text);
    padding: 3px;
    border-radius: 3px;
    padding: 2px;
}

#up {
    position: relative;
    top: -32px;
    left: -61px;
}

#shoot {
    position: relative;
    top: 32px;
    left: -122px;
}

#bomb {
    position: relative;
    top: 6px;
    left: 32px;
}

#pause {
    position: relative;
    top: 6px;
    left: 32px;
}

#focus {
    width: 80px !important;
    position: relative;
    top: 36px;
    left: -60px;
}

#frame {
    color: var(--text);
    position: absolute;
    top: 165px;
    left: 10px;
}

#fps {
    position: absolute;
    top: 185px;
    left: 10px;
    color: var(--text);
}

#time {
    position: absolute;
    top: 205px;
    left: 10px;
    color: var(--text);
}

.hidden {
    display: none;
}

.highlight {
    color: var(--player) !important;
    border-color: var(--player) !important;
    /* Glow Effect! WOOO! */
    box-shadow: 0px 0px 5px 5px var(--tran);
}

.bullet {
    background: url('../momiji/sprites.png') 65px 94px;
    height: 17px;
    width: 17px;
}

.enemy-bullet {
    background: url('../momiji/sprites.png') 39px 94px;
    height: 17px;
    width: 17px;
}

.leaf {
    background: url('../momiji/sprites.png') -60px 40px;
    height: 30px;
    width: 30px;
}

.item {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.enemy {
    background: url('../momiji/sprites.png') 84px -5px;
    height: 83px;
    width: 83px;
}

label {
    color: var(--text);
}

.hitbox {
    background-color: var(--red);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}